.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container input {
  margin-right: 10px;
}

.error-text {
  color: red;
  margin-top: 5px;
}

.wrapper {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
}

.wrapper h1 {
  text-align: center;
  margin: 0;
  padding: 10px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}
